# Server
NODE_ENV=production
PORT=5000

# MongoDB
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/<dbname>?retryWrites=true&w=majority

# JWT
JWT_SECRET=replace_with_a_long_random_secret

# Frontend URL (for CORS)
FRONTEND_URL=https://your-frontend-domain.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Seed Scripts
ADMIN_USER_ID=
ADMIN_NAME=
ADMIN_PASSWORD=

DEVELOPER_USER_ID=
DEVELOPER_NAME=
DEVELOPER_PASSWORD=

SUPERVISOR_USER_ID=
SUPERVISOR_NAME=
SUPERVISOR_PASSWORD=
